<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error | Tech Stack Express, EJS, Knex</title>
</head>
<body>
    <h1>500 Error</h1>
    <p>
        <% if (locals.error) { %>
            <%= error.message %>
        <% } %>
    </p>
</body>
</html>